{% extends "base.html" %}
{% from "_formhelpers.html" import render_field as render_field %}

{% block html_head %}

{% block html_title %}FIXME: html_title{% endblock html_title %}

<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/sections.css') }}"/>

{% endblock html_head %}{# html_head #}

{% block header %}
{% endblock %}{# header #}

{% block content %}
{% endblock %}{# content #}

{% block sidebar %}

{% set user = current_user %}
{% set usertype = "exhibitors" %}
<div class="sidebar-section">
{% include "includes/exhibitor_menu.html" %}
</div>

<div class="sidebar-section">
  {% include "includes/about_forum.html" %}
</div>
<div class="sidebar-section">
  {% include "includes/about_AFCP.html" %}
</div>

{% endblock %}{# sidebar #}
