{% extends "base.html" %}
{% from "_formhelpers.html" import render_field as render_field %}

{% block html_head %}

{% block html_title %}FIXME: html_title{% endblock html_title %}

<link rel="stylesheet" type="text/css" media="screen" href="/static/css/sections.css"/>

{% endblock html_head %}{# html_head #}

{% block header %}
{% endblock %}{# header #}

{% block content %}
{% endblock %}{# content #}

{% block sidebar %}
{% set user = current_user %}
<div class="sidebar-section">
  <div class="title">Exhibitors area</div>
  <div>
    {% if user.is_authenticated() %}
    welcome! {{ user.username }} <a href="{{ url_for('exhibitor.logout')}}">logout</a>
    {% else %}
    <form method="post" action="{{ url_for('exhibitor.login') }}">
      <input name="username" type="text" class="input-small" placeholder="Username">
      </input>
      <input name="password" type="password" class="input-small" placeholder="Password">
      </input>
      <button type="submit" class="btn">Sign in</button>
      <a href="{{ url_for('exhibitor.register') }}">
	register
      </a>
    </form>
    {% endif %}

    <ul class="list">
      {% if member.is_authenticated() %}
      <li>
	<a href="{{ url_for('exhibitor.jobs') }} ">Offres</a>
      </li>
      {% endif %}
      <li {% if request.path == url_for('exhibitor.visitors')%}
	class="current" {% endif %}>
	<a href="{{ url_for('exhibitor.visitors')}}">Visitors</a>
      </li>
      <li {% if request.path == url_for('exhibitor.services')%}
	class="current" {% endif %}><a href="{{ url_for('exhibitor.services')}}">Our services</a>
      </li>
    </ul>
  </div>
</div>

<div class="sidebar-section">
	<div class="title">About AFCP</div>
	<ul class="list">
		<li><a href="http://www.afcp-paristech.org" rel="external" target="_blank">AFCP website</a></li>

	</ul>
</div>

{% endblock %}{# sidebar #}
