{% extends "base.html" %}

{% block html_head %}

{% block html_title %}FIXME: html_title{% endblock %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/sections.css') }}"/>

{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
{% endblock %}

{% block sidebar %}

<div class="sidebar-section">
  {% include "includes/about_forum.html" %}
</div>

<div class="sidebar-section">
  {% include "includes/about_AFCP.html" %}
</div>

{% endblock %}{# sidebar #}
