{% extends "base.html" %}

{% block html_head %}

{% block html_title %}FIXME: html_title{% endblock %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/sections.css') }}"/>

{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
{% endblock %}

{% block sidebar %}

<div class="sidebar-section">
  <div class="title">About the Forum</div>
  <ul class="list">
    <li {% if request.path == url_for('access') %}
      class="current" {% endif %}>
      <a href="{{ url_for('access') }}">
	{{ _('Access to the Forum') }}
      </a>
    </li>
    <li {% if request.path == url_for('balance') %}
      class="current" {% endif %}>
      <a href="{{ url_for('balance') }}">
	{{ _('2012 balance') }}
      </a>
    </li>
    <li {% if request.path == url_for('contact') %}
      class="current" {% endif %}>
      <a href="{{ url_for('contact') }}">
	{{ _('Contact us') }}
      </a>
    </li>
  </ul>
</div>

<div class="sidebar-section">
  {% include "includes/about.html" %}
</div>

{% endblock %}{# sidebar #}
