{% extends "base.html" %}

{% block html_head %}

  {% block html_title %}
    <title>{{ page.id }}</title>
  {% endblock %}

  <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/sections.css') }}"/>

{% endblock %}

{% block header %}
{% endblock %}

{% set lang = SESSION['locale'] %}


{% block content %}
  <div class="section">
    <h1>{{ page.type }}</h1>

    <div>
      {{ page.meta['en']['content']|safe }}
    </div>
  </div>
{% endblock %}

{% block sidebar %}
  {% for nav_key in topmenu.children %}
    {% set menu_nav=nav_key.get() %}
    <div class="sidebar-section">
      <div class="title">{{ menu_nav.meta[lang] }}</div>
      <ul class="list">
	{% for entry_key in menu_nav.children %}
	  {% set entry = entry_key.get() %}
	  <li {% if request.path == url_for('page', keyurl=entry.key.urlsafe()) %}
	    class="current" {% endif %}>
	    <a href="{{ url_for('page', keyurl=entry.key.urlsafe()) }}">
	      {{ entry.meta[lang] }}
	    </a>
	  </li>
	{% endfor %}
      </ul>
    </div>
  {% endfor %}
{% endblock %}{# sidebar #}
