{% extends "base.html" %}

{% block html_head %}

  {% block html_title %}
    <title>{{ page.id }}</title>
  {% endblock %}

  <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/sections.css') }}"/>
  <link rel="stylesheet" type="text/css" media="screen"
      href="{{ url_for('static', filename='css/home.css')}}"/>
  <link rel="stylesheet" type="text/css" media="screen"
      href="{{ url_for('static', filename='css/block.css') }}"/>
{% endblock %}

{% block header %}
  {% for module in modules['HEAD'] %}
    {{ module|safe }}
  {% endfor %}
{% endblock %}

{% set lang = SESSION['locale'] %}

{% block sidebar_and_content %}
  <div class="home-wrapper" class="container section">
    <div>
      {{ page.meta['en']['content']|safe }}
    </div>
  </div>
  {% for module in modules['FOOT'] %}
    {{ module|safe }}
  {% endfor %}
{% endblock sidebar_and_content %}
