{% extends "base_admin.html" %}

{% from "_formhelpers.html" import render_field as render_field %}

{% block header %}
{% endblock header %}

{% block html_title %}
<title>
  change password
</title>
{% endblock html_title %}

{% block content %}
<h1>Change password</h1>
<form method="post" action="{{ url_for('admin.change_password') }}">
  <fieldset>
    {{ form.hidden_tag() }}
    {{ render_field(form.old_password) }}
    {{ render_field(form.new_password) }}
    {{ render_field(form.confirm_password) }}
  </fieldset>
  <input type="submit" value="Save">
  </input>
</form>
{% endblock content %}
