{% extends "base_admin.html" %}

{% from "_formhelpers.html" import render_field as render_field %}

{% block html_title %}
<title>Data</title>
{% endblock html_title %}

{% block content %}
<h1>Import</h1>
<form method="post" enctype="multipart/form-data" action="{{ url_for('admin.import_enterprise') }}">
  <input type="file" name="enterprise data">
  </input>
  <input type="submit" value="input"/>
</form>
<h1>Export</h1>
<a href="{{ url_for('admin.export_enterprise') }}">export enterprise</a>

<a href="{{ url_for('admin.import_jobs') }}">import jobs</a>
{% endblock content %}
