{% extends "base_admin.html" %}

{% from "_formhelpers.html" import render_field as render_field %}

{% block header %}
{% endblock header %}

{% block html_title %}
<title>
  {{ _('Edit email') }}
</title>
{% endblock html_title %}

{% block content %}
<h1>{{ _('Edit email') }}</h1>
<form method="post" action="{{ url_for('admin.edit_email', keyurl=keyurl) }}">
  <fieldset>
    {{ form.hidden_tag() }}
    {{ render_field(form.email) }}
  </fieldset>
  <input type="submit" value="Save">
  </input>
</form>
{% endblock content %}
