{% extends "base_admin.html" %}

{% block header %}
{% include "includes/aloha.html" %}
{% endblock header %}

{% block html_title %}
<title>
  {{ _('Edit job')}}
</title>
{% endblock html_title %}

{% block content %}
<h1>{{ _('Edit Job') }} </h1>
<form id="job_form" method="post" action="{{ url_for('admin.edit_job', keyurl=keyurl) }}">
  <fieldset>
    {% include "includes/job_form_fields.html" %}
  </fieldset>
  <input type="submit" value="publish">
  </input>
</form>
{% include "includes/aloha_script.html" %}

{% endblock content %}
