{% extends "base_admin.html" %}
{% from "_formhelpers.html" import render_field as render_field %}

{% block header %}
{% endblock header %}

{% block html_title %}
<title>
  {{ _('Edit activity') }}
</title>
{% endblock html_title %}

{% block content %}
<h1>{{ _('Edit activity')}}</h1>
<form method="post" action="{{ url_for('admin.edit_activity', keyurl=keyurl) }}">
  <fieldset>
    {{ form.hidden_tag() }}
    {{ render_field(form.title) }}
    {{ render_field(form.date) }}
    {{ render_field(form.address) }}
    {{ render_field(form.registrable) }}
    {{ render_field(form.register_link) }}
    {{ render_field(form.content) }}
  </fieldset>
  <input type="submit" value="Save">
  </input>
</form>
{% endblock content %}
