{% extends "base_admin.html" %}

{% block html_title %}
  <title>
    {{ _('All jobs') }}
  </title>
{% endblock html_title %}
{% block content %}
  <h1 id="">{{ _('All jobs') }}</h1>
  <p>
    <a class="button" href="{{ url_for('admin.new_job') }}">{{ _('New') }}</a>
  </p>
  {% for e, jobs in grouped_jobs.items() %}
    <h4>
      {% if e %}
	{{ e.get().shortname }} <a href="{{ url_for('admin.sort_jobs', keyurl=e.urlsafe()) }}">{{ _('sort') }}</a>
      {% else %}
	<font color="red">incomplete jobs</font>
      {% endif %}
    </h4>
    <table>
      <thead>
	<tr>
	  <th>{{ _('Title') }}</th>
	  <th>{{ _('Type') }}</th>
	  <th>{{ _('Date') }}</th>
	  <th>{{ _('Published') }}</th>
	  <th>{{ _('state') }}</th>
	  <th>&nbsp;</th>
	  <th>&nbsp;</th>
	</tr>
      </thead>
      <tbody>
	{% for job in jobs %}
	  <tr>
	    <td>{{ job.meta[job.default_lang]["title"] }}</td>
	    <td>{{ job.type }}</td>
	    <td>{{ job.date }}</td>
	    <td>{{ job.published }}</td>
	    <td>{{ job.is_complete }}</td>
	    <td>
	      <a href="{{ url_for('admin.edit_job', keyurl=job.key.urlsafe()) }}">
		{{ _('edit') }}
	      </a>
	    </td>
	    <td>
	      <a href="{{ url_for('admin.delete_job', keyurl=job.key.urlsafe()) }}">
		{{ _('delete') }}
	      </a>
	    </td>
	  </tr>
	    {% else %}
	  <tr>
	    <td colspan="7">{{ _('no job provided yet') }}</td>
	  </tr>
	{% endfor %}
      </tbody>
    </table>
  {% endfor %}

{% endblock content %}
