{% extends "base_admin.html" %}
{% block html_title %}
  <title>
    {{ _('Menus') }}
  </title>
{% endblock html_title %}

{% block content %}
  {#
  <p><a href="{{ url_for('admin.new_menu') }}">New</a></p>
  <table>
    <thead>
      <tr>
	<th>id</th>
	<th>type</th>
	<th>parent</th>
	<th>&nbsp;</th>
	<th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {% for menu in menus %}
	<tr>
	  <td>{{ menu.id }}</td>
	  <td>{{ menu.type }}</td>
	  <td>{{ menu.parent }}</td>
	  <td>
	    <a href="{{ url_for('admin.edit_menu', keyurl=menu.key.urlsafe()) }}">
	      {{ _('edit') }}
	    </a>
	  </td>
	  <td>
	    <a href="{{ url_for('admin.delete_menu', keyurl=menu.key.urlsafe()) }}">
	      {{ _('delete') }}
	    </a>
	  </td>
	</tr>
      {% endfor %}
    </tbody>
  </table>
  #}

  <div id='menu-tree'>
    <ul>
      <li>TOP MENU
	<a href="{{ url_for('admin.new_menu') }}">add child</a>
	<a href="{{ url_for('admin.sort_menu') }}">sort children</a>
	{% for top in topmenu %}
	  <ul>
	    <li>{{ top.id }}
	      <a href="{{ url_for('admin.edit_menu', keyurl=top.key.urlsafe()) }}">edit</a>
	      <a href="{{ url_for('admin.delete_menu', keyurl=top.key.urlsafe()) }}">delete</a>
	      <a href="{{ url_for('admin.new_menu', keyurl=top.key.urlsafe()) }}">add child</a>
	      <a href="{{ url_for('admin.sort_menu', keyurl=top.key.urlsafe()) }}">sort children</a>
	    {% for menu_key in top.children %}
	      {% set menu = menu_key.get() %}
	      {% if menu.type=='SIDE_NAV' %}
		<ul>
		  <li>{{ menu.id }}
		    <a href="{{ url_for('admin.edit_menu', keyurl=menu.key.urlsafe()) }}">edit</a>
		    <a href="{{ url_for('admin.delete_menu', keyurl=menu.key.urlsafe()) }}">delete</a>
		    <a href="{{ url_for('admin.new_menu', keyurl=menu.key.urlsafe()) }}">add child</a>
		    <a href="{{ url_for('admin.sort_menu', keyurl=menu.key.urlsafe()) }}">sort children</a>
		    <ul>
		      {% for entry_key in menu.children %}
			{% set entry = entry_key.get() %}
			<li>{{ entry.id }}
			  <a href="{{ url_for('admin.edit_menu', keyurl=entry.key.urlsafe()) }}">edit</a>
			  <a href="{{ url_for('admin.delete_menu', keyurl=entry.key.urlsafe()) }}">delete</a>
			</li>
		      {% endfor %}
		    </ul>
		  </li>
		</ul>
	      {% else %}
		<ul>
		  <li>{{ menu.id }}
		    <a href="{{ url_for('admin.edit_menu', keyurl=menu.key.urlsafe()) }}">edit</a>
		    <a href="{{ url_for('admin.delete_menu', keyurl=menu.key.urlsafe()) }}">delete</a>
		  </li>
		</ul>
	      {% endif %}
	    {% endfor %}
	    </li>
	  </ul>
	{% endfor %}
      </li>
    </ul>
  </div>
  <script>
//     $(function(){
//       $('#menu-tree').jstree({});
//     });
  </script>
{% endblock content %}
