{% extends "base_admin.html" %}
{% from "_alohahelpers.html" import init_aloha as init_aloha %}

{% block header %}
{% include "includes/aloha.html" %}
{#
  <script>
 $(document).ready(function(){
   if($('#is_online').checked){
     document.getElementById('url').style.display = 'block';
     document.getElementById('email').style.display = 'none';
   }
   else{
     document.getElementById('url').style.display = 'none';
     document.getElementById('email').style.display = 'block';
   }
 });

</script>
#}
{% endblock header %}

{% block html_title %}
<title>
  {{ _('New job') }}
</title>
{% endblock html_title %}

{% block content %}
<h1>{{ _('New job') }}</h1>
<form id="job_form" method="post" action="{{ url_for('admin.new_job') }}">
  <fieldset>
    {% include "includes/job_form_fields.html" %}
  </fieldset>
  <input type="submit" value="publish">
  </input>
</form>
{{ init_aloha("#job_form", ".text_content") }}
{% endblock content %}
