{% extends "base_admin.html" %}

{% from "_formhelpers.html" import render_field as render_field %}

{% block header %}
{% endblock header %}

{% block html_title %}
<title>
  {{ _('new module for page') }}
</title>
{% endblock html_title %}

{% block content %}
<h1>{{ _('new module')}}</h1>
<form method="post" action="{{ url_for('admin.new_page_module', keyurl=keyurl) }}">
  <fieldset>
    {{ form.hidden_tag() }}
      {{ render_field(form.name) }}
      {{ render_field(form.position) }}
  </fieldset>
  <input type="submit" value="Save">
  </input>
</form>
{% endblock content %}
