{% extends "base_admin.html" %}

{% block html_title %}
  <title>
    {{ _('Sort enterprises') }}
  </title>
{% endblock html_title %}

{% block content %}
<p>
  {{ _('Drag the rows to sort the enterprises. Enterprises shown to visitors will have the same order you sort.') }}
</p>
  <form method="POST" action="{{ url_for('admin.sort_enterprises') }}">
    <input type="hidden" name="order" id="order"/>
    <div>
      <ol id="sortable" class="sorted">
	{% for e in enterprises %}
	  <li id="index_{{ e.order }}" class="index">{{ e.shortname }}</li>
	{% endfor %}
      </ol>
    </div>
    <input type="submit" value="sort"/>
  </form>
  <script>
   $( "#sortable" ).sortable();
   $( "#sortable" ).disableSelection();

   $('form').submit(function(){
     $("#order").val($("#sortable").sortable("serialize"));
   })
  </script>

{% endblock content %}
