{% extends "base_admin.html" %}

{% block content %}
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>role</th>
      <th>&nbsp</th>
      <th>&nbsp</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <th>{{ user.username}}</th>
      <th>{{ user.role }}</th>
      <th>
	<a href="{{ url_for('admin.edit_user', keyurl=user.key.urlsafe()) }}">edit</a>
      </th>
      {% if user.role != 'admin' %}
      <th><a href="{{ url_for('admin.delete_user', keyurl=user.key.urlsafe()) }}) ">delete</a></th>
      {% else %}
      <th>&nbsp</th>
      {% endif %}
    </tr>
    {% else %}
    <tr>
      <th colspan="4">no user</th>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
