
.counter-close-container {
	background-color: rgb(200, 200, 200);
	background:transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80c8c8c8,endColorstr=#80c8c8c8);
	zoom: 1;
} 