{% extends "base_visitors.html" %}

{% block html_title %}
<title>{{ _('Program of China Horizon Forum') }}</title>
<meta name="description" content="{{ _("Scheduled for 2013 Forum: welcome/breakfast, opening ceremony, business conferences, interviews, round tables, closing conference and cocktail.") }}">
</meta>

{% endblock %}{# html_title #}

{% block content %}

<div class="section program">
  <h1>{{ _('Forum program') }}</h1>

  <h2>{{ _('Free entrance, 9:30 – 18:00, May 26th 2016') }}</h2>
  <table>
    <tr>
      <td><strong>9:30 - 10:00</strong></td>
      <td><h3>{{ _('Welcome coffee') }}</h3></td>

      <td rowspan="11">

        <a href="http://www.schneider-electric.com/" target="_blank">
          <img class="shadow" src={{ url_for('static', filename="img/logo/enterprise/schneider.jpg") }}
          width="200px" alt="Schneider"/>
        </a>
        <a href="http://store.apple.com" target="_blank">
          <img class="shadow" src={{ url_for('static', filename='img/logo/enterprise/Apple_2016.png') }} width="100px">
        </a>
        <a href="http://www.dragonflygroup.com" target="_blank">
          <img class="shadow" src={{ url_for('static', filename='img/logo/enterprise/dragonfly.jpg') }} width="150px">
        </a>
        <a href="http://www.bureauveritas.fr/" target="_blank">
          <img class="shadow" src={{ url_for('static', filename='img/logo/enterprise/bv.gif') }} style="margin-left:60px">
        </a>
        <a href="http://www.shkeolis.com/fr/songjiang-network" target="_blank">
          <img class="shadow" src={{ url_for('static', filename='img/logo/enterprise/shk.png') }} width="150px">
        </a>
        <a href="https://www.plasticomnium.com/fr/" target="_blank">
          <img class="shadow" src={{ url_for('static', filename='img/logo/enterprise/po.png') }} width="150px">
        </a>
        <a href="http://www.acece.eu/" target="_blank">
          <img class="shadow" src={{ url_for('static', filename='img/logo/enterprise/acece.jpg') }} width="170px" >
        </a>
        <a href="http://www.valeo.com/" target="_blank">
          <img class="shadow" src={{ url_for('static', filename='img/logo/enterprise/valeo.gif') }} width="150px" >
        </a>
        <a href="http://www.groupeastek.com/" target="_blank">
          <img class="shadow" src={{ url_for('static', filename='img/logo/enterprise/astek.jpg') }} width="160px" >
        </a>


      </td>
    </tr>
    <tr>
      <td>
        <strong>10:10 - 10:30</strong><br/>
      </td>
      <td>
        <h3>{{ _('Opening speeches') }}</h3>
        {#
          <ul>
            <li><strong>{{ _('Ms. Elisabeth CREPON') }}</strong>, {{ _('Director of ENSTA ParisTech') }}</li>
            <li><strong>{{ _('Mr. Jean Philippe VANOT') }}</strong>, {{ _('President of ParisTech') }}</li>
            <li><strong>{{ _('Mr. Yansheng MA') }}</strong>, {{ _('Minister Counselor ( Education), Embassy of China') }}</li>
            <li><strong>{{ _('Mr. Qi ZHU') }}</strong>, {{ _('President of AFCP') }}</li>
          </ul>
          #}
        </td>
      </tr>
      <tr>
        <td>
          <strong>10:30 - 11:15</strong> <br/>

        </td>
        <td>
          <h3>{{ _('Company presentation') }}</h3>
          <div class="center">
            <strong>Keolis</strong>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <strong>11:30 - 12:15</strong> <br/>

        </td>
        <td>
          <h3>{{ _('Company presentation') }}</h3>
          <div class="center">
            <strong>Plastic Omnium</strong>
          </div>
        </td>
        <tr>
          <td>
            <strong>12:15 - 13:15</strong><br/>
          </td>
          <td>
            <h3>{{ _('Lunch') }}</h3>
          </td>
        </tr>
        <tr>
          <td><strong>13:15 – 14:00</strong><br/></td>
          <td>
            <h3>{{ _('Round Table Discussion') }}</h3>
            <div class="center">
              <strong>Schneirder</strong>
            </div>
          </td>
        </tr>
        <tr>
          <td><strong>14:15 - 15:00</strong><br/></td>
          <td>
            <h3>{{ _('Round Table Discussion') }}</h3>
            <div class="center">
              <strong>ACECE</strong>
            </div>
          </td>
        </tr>

        <tr>
          <td><strong>16:15 - 17:00</strong><br/></td>
          <td>
            <h3>{{ _('Company presentation') }}</h3>
            <div class="center">
              <strong>Dragonfly</strong>
            </div>
          </td>
        </tr>

        <tr>
          <td><strong>17:15 - 18:00</strong></td>
          <td>
            <h3>{{ _('Cocktail') }}</h3>
            {#
              <h3>{{ _('Closing Ceremony') }}</h3>

              <div class="center">
                <p>
                  <strong>{{ _('Philippe JULLIAN') }}</strong>, {{ _('Former Chief Financial Officer of Air Liquide') }} <br />
                  <strong>{{ _('"The industrial, business and financial strategy of Air Liquide Group and its presence in China"') }}</strong>
                </p>
                <p>
                  <strong>{{ _('Wei WEI') }}</strong>, {{ _('Group Management Development Director of Faurecia') }}<br />
                  <strong>{{ _('"Your Global Career at Faurecia"') }}</strong>
                </p>
              </div>
              #}
            </td>
          </tr>

          <tr>
            <td colspan="2">
              <strong>{{ _('Interview') }}</strong>
            </td>
          </tr>
          <tr>
            <td>
              <strong>15:00 - 18:00</strong> <br/>
              <!--Plastic Omnium:  <br/>-->
              <!--Schneider Electric:-->
            </td>
            <td>
              <h3>{{ _('Interviews of Plastic Omnium and Schneider Electric') }}</h3>
            </td>
          </tr>
          {#
            <tr>
              <td><strong>15h45 – 17h15</strong><br /> Amphi L108</td>
              <td>
                <h3>{{ _('Panel discussion') }}</h3>
                <div class="center">{{ _('"China and renewable energies"') }}</div>
                <ul>
                  <li><strong>{{ _('Ms. Suyan ZHOU') }}</strong>, {{ _('Senior Advisor, EDF, Direction Strategy &amp; Prospective') }}</li>
                  <li><strong>{{ _('Mr. Xavier BARBARO') }}</strong>, {{ _('Chief Executive Officer, NEOEN') }}</li>
                  <li><strong>{{ _('Mr. Michel AUBLANT') }}</strong>, {{ _('Executive Director of Institut ICARE') }}</li>
                  <li><strong>{{ _('Mr. Didier MAYER') }}</strong>, {{ _('Head of the Department Energy and Processes, MINES ParisTech') }}</li>
                </ul>
              </td>
            </tr>

            <tr>
              <td><strong>17h30 – 18h30</strong><br /> Amphi L108</td>
              <td>
                <h3>{{ _('Closing Ceremony') }}</h3>

                <div class="center">
                  "Training at world level: Alstom University in China / Asia"
                  <br /> <strong>David BRIGGS</strong>,
                  Vice President of Alstom University.
                </div>

              </td>
            </tr>
            #}
          </table>

          <div style=" vertical-align:middle; text-align:center ">

            <a href="http://www.afcp-paristech.org" target="_blank">
              <img class="shadow"
              src="{{ url_for('static', filename="img/logo/afcp_logo_small.jpg") }}"
              height="45" alt="AFCP" style="margin-right:5px; "/>
            </a>


            <a href="http://www.mines-paristech.fr" target="_blank">
              <img class="shadow"
              src="{{ url_for('static', filename="img/logo/mines.png") }}"
              height="45" alt="Mines" style="margin-right:5px; "/>
            </a>


            <a href="http://www.nju.edu.cn" target="_blank">
              <img class="shadow"
              src="{{ url_for("static", filename="img/logo/nju.png") }}"
              height="45" alt="nju" style="margin-right:5px; "/>
            </a>

            <a href="http://www.sjtu.edu.cn" target="_blank">
              <img class="shadow"
              src="{{ url_for("static", filename="img/logo/sjtu.jpg") }}"
              height="45" alt="sjtu" style="margin-right:5px; " />
            </a>

            <a href="http://www.paristech.fr/" target="_blank">
              <img class="shadow"
              src="{{ url_for("static", filename="img/logo/paristech.jpg") }}"
              height="45" alt="ParisTech" style="margin-right:5px; " />
            </a>
            <a href="http://www.xineurope.com" target="_blank">
              <img class="shadow"
              src="{{ url_for('static', filename="img/logo/xineurope_new.png") }}"
              height="45" alt="xineurope" style="margin-right:5px; "/>
            </a>
          </div>

          <!-- TODO: intégrer le lien vers la nouvelle brochure ici -->
          <!-- <h2>
          <a href="/static/doc/ForumHorizonChine2011.pdf">Télécharger La
          brochure du forum 2011</a>
        </h2> -->



        <!-- <p><a href="/static/doc/ForumHorizonChine2011.pdf">Télécharger La brochure du forum 2011</a></p> -->

      </div>


      {% endblock %}{# content #}
