{% extends "base_visitors.html" %}

{% block html_title %}
<title>{{ _('Program of China Horizon Forum') }}</title>
<meta name="description" content="{{ _("Scheduled for 2013 Forum: welcome/breakfast, opening ceremony, business conferences, interviews, round tables, closing conference and cocktail.") }}">
</meta>

{% endblock %}{# html_title #}

{% block content %}

<div class="section program">
  <h1>{{ _('Forum program') }}</h1>

  <h2>{{ _('Free entrance, 9:30 – 18:00, March 9th 2017') }}</h2>
  <table>
    <tr>
      <td><strong>9:30 - 10:00</strong></td>
      <td><h3>{{ _('Table ronde avec petit déjeuner') }}</h3></td>

      <td rowspan="11">

        <a href="http://www.dragonflygroup.com" target="_blank">
            <img src={{ url_for('static', filename='img/logo/2017-enterprise/dragonfly.png') }} width="130px">
        </a>
        <a href="http://www.emploitic.com/cscec" target="_blank">
            <img src={{ url_for('static', filename="img/logo/2017-enterprise/CSCEC.jpg") }}
            width="130px" alt="CSCEC"/>
        </a>

        <a href="http://www.total.com/en" target="_blank">
            <img src={{ url_for('static', filename="img/logo/2017-enterprise/Total.jpg") }}
            width="130px" alt="Total"/>
        </a>
        <a href="http://www.solvay.fr/fr/index.html" target="_blank">
            <img src={{ url_for('static', filename='img/logo/2017-enterprise/Solvay.png') }} width="150px" alt="Solvey">
        </a>
        <a href="http://groupeastek.com/" target="_blank">
            <img src={{ url_for('static', filename='img/logo/2017-enterprise/astek.png') }} width="170px" alt = "Astek">
        </a>
        <a href="http://www.valeo.com/" target="_blank">
            <img src={{ url_for('static', filename='img/logo/2017-enterprise/Valeo.png') }} width="100px"
             alt = "Valeo">
        </a>
        <a href="http://www.amaris.com/" target="_blank">
            <img src={{ url_for('static', filename="img/logo/2017-enterprise/amaris.png") }}
            width="130px" alt="Amaris"/>
        </a>
        <a href="https://www.ubisoft.com/fr-FR/" target="_blank">
            <img src={{ url_for('static', filename="img/logo/2017-enterprise/ubisoft.jpg") }}
            width="130px" alt="Ubisoft"/>
        </a>
        <a href="http://www.poma.net/le-groupe-poma/accueil-le-groupe-poma/" target="_blank">
            <img src={{ url_for('static', filename='img/logo/2017-enterprise/POMA.png') }} width="130px" alt = "Group POMA" >
        </a>


      </td>
    </tr>
    <tr>
      <td>
        <strong>10:00 - 10:45</strong><br/>
      </td>
      <td>
        <h3>{{ _('Conférence Alibaba Cloud International') }}</h3>
        </td>
      </tr>
      <tr>
        <td>
          <strong>11:00 - 11:45</strong> <br/>

        </td>
        <td>
          <h3>{{ _('Conférence CSCEC Algérie') }}</h3>
        </td>
      </tr>
      <tr>
        <td>
          <strong>12:00 - 12:45</strong> <br/>

        </td>
        <td>
          <h3>{{ _('Conférence Solvay') }}</h3>
        </td>
        <tr>
          <td>

          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td><strong>14:00 – 14:45</strong><br/></td>
          <td>
            <h3>{{ _('Conférence Dragonfly Group') }}</h3>
          </td>
        </tr>
        <tr>
          <td><strong>15:00 - 15:45</strong><br/></td>
          <td>
            <h3>{{ _('Conférence Valeo') }}</h3>

          </td>
        </tr>

        <tr>
          <td><strong>15:00 - 18:00</strong><br/></td>
          <td>
            <h3>{{ _('CV Atelier avec Dragonfly Group') }}</h3>

          </td>
        </tr>

        <tr>
          <td><strong>17:00 - 18:00</strong></td>
          <td>
            <h3>{{ _('Cocktail') }}</h3>
            </td>
          </tr>
          </table>

          <div style=" vertical-align:middle; text-align:center ">

            <a href="http://www.afcp-paristech.org" target="_blank">
              <img class="shadow"
              src="{{ url_for('static', filename="img/logo/afcp_logo_small.jpg") }}"
              height="45" alt="AFCP" style="margin-right:5px; "/>
            </a>


            <a href="http://www.mines-paristech.fr" target="_blank">
              <img class="shadow"
              src="{{ url_for('static', filename="img/logo/mines.png") }}"
              height="45" alt="Mines" style="margin-right:5px; "/>
            </a>


            <a href="http://www.nju.edu.cn" target="_blank">
              <img class="shadow"
              src="{{ url_for("static", filename="img/logo/nju.png") }}"
              height="45" alt="nju" style="margin-right:5px; "/>
            </a>

            <a href="http://www.sjtu.edu.cn" target="_blank">
              <img class="shadow"
              src="{{ url_for("static", filename="img/logo/sjtu.jpg") }}"
              height="45" alt="sjtu" style="margin-right:5px; " />
            </a>

            <a href="http://www.paristech.fr/" target="_blank">
              <img class="shadow"
              src="{{ url_for("static", filename="img/logo/paristech.jpg") }}"
              height="45" alt="ParisTech" style="margin-right:5px; " />
            </a>
            <a href="http://www.xineurope.com" target="_blank">
              <img class="shadow"
              src="{{ url_for('static', filename="img/logo/xineurope_new.png") }}"
              height="45" alt="xineurope" style="margin-right:5px; "/>
            </a>
          </div>

          <!-- TODO: intégrer le lien vers la nouvelle brochure ici -->
          <!-- <h2>
          <a href="/static/doc/ForumHorizonChine2011.pdf">Télécharger La
          brochure du forum 2011</a>
        </h2> -->



        <!-- <p><a href="/static/doc/ForumHorizonChine2011.pdf">Télécharger La brochure du forum 2011</a></p> -->

      </div>


      {% endblock %}{# content #}
