{% extends "base_visitors.html" %}

{% block html_title %}
<title>{{ _('Program of China Horizon Forum') }}</title>
<meta name="description" content="{{ _("Scheduled for 2013 Forum: welcome/breakfast, opening ceremony, business conferences, interviews, round tables, closing conference and cocktail.") }}">
</meta>

{% endblock %}{# html_title #}

{% block content %}

<div class="section program">
  <h1>{{ _('Forum program') }}</h1>

  <h2>{{ _('Free entrance, 9:30 – 18:00, March 15th 2018') }}</h2>
  <table>
    <tr>
      <td><strong>9:30 - 10:00</strong></td>
      <td>
        <p><h3>{{ _('Table ronde avec petit déjeuner') }}</h3> </p>
          <p><h3>{{ _('早餐及圆桌会议') }}</h3> </p>
          </td>
        </tr>
        <tr>
          <td>
            <strong>10:00 - 10:15</strong><br/>
          </td>

          <td>
            <p><h3>{{ _('Discours d\'ouverture') }}</h3> </p>
              <p><h3>{{ _('开幕致辞') }}</h3> </p>
              </td>
            </tr>
            <tr>
              <td>
                <strong>10:15 - 10:45</strong> <br/>

              </td>
              <td>
                <h3>{{ _('Conférence 1公司讲座') }}</h3>
              </td>
            </tr>
            <tr>
              <td>
                <strong>11:00 - 11:45</strong> <br/>
              </td>
              <td>
                <h3>{{ _('Conférence 2公司讲座') }}</h3>
              </td>
              <tr>
                <td>
                  <strong>12:00 - 12:45</strong><br/>
                </td>
                <td>
                  <h3>{{ _('Conférence 3公司讲座') }}</h3>
                </td>
              </tr>
              <tr>
                <td><strong>14:00 – 14:45</strong><br/></td>
                <td>
                  <h3>{{ _('Conférence 4公司讲座') }}</h3>
                </td>
              </tr>
              <tr>
                <td><strong>15:00 - 15:45</strong><br/></td>
                <td>
                  <h3>{{ _('Conférence 5公司讲座') }}</h3>
                </td>
              </tr>

              <tr>
                <td><strong>15:00 - 18:00</strong><br/></td>
                <td>
                  <p><h3>{{ _('CV Atelier avec Dragonfly Group') }}</h3> </p>
                    <p><h3>{{ _('简历修改以及模拟面试') }}</h3> </p>
                    </td>
                  </tr>

                  <tr>
                    <td colspan="2">
                      <strong>{{ _('Interview') }}</strong>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>15:00 - 18:00</strong> <br/>
                      <!--Plastic Omnium:  <br/>-->
                      <!--Schneider Electric:-->
                    </td>
                    <td>
                      <h3>{{ _('Interviews of Plastic Omnium and Schneider Electric') }}</h3>
                    </td>
                  </tr>
                  {#
                    <tr>
                      <td><strong>15h45 – 17h15</strong><br /> Amphi L108</td>
                      <td>
                        <h3>{{ _('Panel discussion') }}</h3>
                        <div class="center">{{ _('"China and renewable energies"') }}</div>
                        <ul>
                          <li><strong>{{ _('Ms. Suyan ZHOU') }}</strong>, {{ _('Senior Advisor, EDF, Direction Strategy &amp; Prospective') }}</li>
                          <li><strong>{{ _('Mr. Xavier BARBARO') }}</strong>, {{ _('Chief Executive Officer, NEOEN') }}</li>
                          <li><strong>{{ _('Mr. Michel AUBLANT') }}</strong>, {{ _('Executive Director of Institut ICARE') }}</li>
                          <li><strong>{{ _('Mr. Didier MAYER') }}</strong>, {{ _('Head of the Department Energy and Processes, MINES ParisTech') }}</li>
                        </ul>
                      </td>
                    </tr>

                    <tr>
                      <td><strong>17h30 – 18h30</strong><br /> Amphi L108</td>
                      <td>
                        <h3>{{ _('Closing Ceremony') }}</h3>

                        <div class="center">
                          "Training at world level: Alstom University in China / Asia"
                          <br /> <strong>David BRIGGS</strong>,
                          Vice President of Alstom University.
                        </div>

                      </td>
                    </tr>
                    #}
                  </table>

                  <div>
                    <a href="http://www.afcp-paristech.org" target="_blank">
                      <img class="shadow"
                      src="{{ url_for('static', filename="img/logo/afcp_logo.jpg") }}"
                      width="220" alt="AFCP" style="margin-right:10px;margin-top:20px;vertical-align:top" />
                    </a>
                    <a href="https://www.espci.fr" target="_blank">
                      <img class="shadow"
                      src="{{ url_for('static', filename="img/logo/espci_new.jpg") }}"
                      width="100" alt="espci" style="margin-right:10px"/>
                    </a>
                    <a href="http://www.xineurope.com" target="_blank">
                      <img class="shadow"
                      src="{{ url_for('static', filename="img/logo/xineurope.png") }}"
                      width="150" alt="xineurope" style="margin-right:10px"/>
                    </a>
                    <!--<div class="floatright">-->
                    <a href="http://www.paristech.fr/" target="_blank">
                      <img class="shadow"
                      src="{{ url_for("static", filename="img/logo/paristech.jpg") }}"
                      width="100" alt="ParisTech" style="margin-top:25px;vertical-align:top" />
                    </a>
                    <!--</div>-->
                  </div>

                  <!-- TODO: intégrer le lien vers la nouvelle brochure ici -->
                  <!-- <h2>
                  <a href="/static/doc/ForumHorizonChine2011.pdf">Télécharger La
                  brochure du forum 2011</a>
                </h2> -->



                <!-- <p><a href="/static/doc/ForumHorizonChine2011.pdf">Télécharger La brochure du forum 2011</a></p> -->

              </div>


              {% endblock %}{# content #}
