{% extends "base_visitors.html" %}

{% block html_title %}
<title>Status change from student to employee</title>
<meta name="description"
	content="This page explains the process to change the status from student to employee (mostly in Chinese)." />

{% endblock %}{# html_title #}

{% block content %}

<div class="section program">
	<h1>Status change from student to employee</h1>

	<object style="width:670px; height: 510px" data="/static/docs/20130117Changement_de_statut.pdf" type="text/html" codetype="application/pdf"></object>
	<a href="/static/docs/20130117Changement_de_statut.pdf" title="Right click &gt; &quot;Save as&quot; to download it">Link to the PDF</a>

{#	<!-- <iframe src="/static/docs/20121001Changement_de_statu.pdf" width="670px" height="510px">Coucou</iframe> --> #}

</div>


{% endblock %}{# content #}
