{% extends "base_about.html" %}
{% block html_title %}
<title>{{ _('Access to China Horizon Forum') }}
</title>
<meta name="description" content="{{ _('The Forum will be held in the premises of Mines ParisTech. Here you will find the address, a map and public transport to get here.') }}" />

{% endblock html_title %}
{% block content %}
<div class="section">
  <h1>{{ _('Access to the Forum') }}</h1>

  <p>
    <strong>MINES ParisTech</strong>
  </p>
  <p>
    <strong>60 Boulevard Saint-Michel<br/>
      75006 Paris(RER B, Luxembourg)<br/>
    </strong>
  </p>

  <!-- <table>
       <tr>
       <td>
       <h2></h2>
       </td>
       </tr>
       <tr>
       <td><iframe width="600" height="600" frameborder="0"
       scrolling="no" marginheight="0" marginwidth="0"
       src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=mines+paristech+&amp;aq=&amp;sll=48.846813,2.337706&amp;sspn=0.006863,0.01929&amp;ie=UTF8&amp;hq=mines+paristech&amp;hnear=&amp;ll=48.845664,2.339761&amp;spn=0.006863,0.01929&amp;z=14&amp;iwloc=A&amp;cid=3301406460353804507&amp;output=embed">
       </iframe><br />
       <small><a
       href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=mines+paristech+&amp;aq=&amp;sll=48.846813,2.337706&amp;sspn=0.006863,0.01929&amp;ie=UTF8&amp;hq=mines+paristech&amp;hnear=&amp;ll=48.845664,2.339761&amp;spn=0.006863,0.01929&amp;z=14&amp;iwloc=A&amp;cid=3301406460353804507"
       style="color: #0000FF; text-align: left">View Larger Map</a></small>
       </td>
       </tr>
       </table> -->

  <div style="width: 600px; height: 640px">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2625.662028610949!2d2.3396320000000026!3d48.845584999999986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671c34286c56b%3A0x2dd0f3af209178db!2z5be06buO6auY562J55-_5Lia5a2m6Zmi!5e0!3m2!1szh-CN!2sfr!4v1427188490235" width="600" height="450" frameborder="0" style="border:0"></iframe><br /><small><a href="https://goo.gl/maps/7X5GO">{{ _('View larger map' )}}</a></small>
    {#
    <iframe width="600" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.fr/maps?ie=UTF8&amp;cid=14086636216952760998&amp;q=ENSTA+ParisTech&amp;gl=FR&amp;hl=fr&amp;ll=48.710689,2.219269&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.fr/maps?ie=UTF8&amp;cid=14086636216952760998&amp;q=ENSTA+ParisTech&amp;gl=FR&amp;hl=fr&amp;ll=48.710689,2.219269&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">{{ _('View larger map') }}</a></small>
    #}
  </div>

  {#
  <h3>{{ _('Access:') }}</h3>
  <ul>
    <li>RER B Massy-Palaiseau --> 91.06B/C, 91.10 Polytechnique Joncherettes</li>
  </ul>
  <a target="_blank" href="http://www.ensta-paristech.fr/en/getting-ensta-paristech"></a>
  <div>
    <h4>{{ _('Getting there by public transportation') }}</h4>
    <p>Find your way to ENSTA ParisTech from any location on the&nbsp;<a target="_blank" href="http://www.ratp.fr/itineraires/en/ratp/recherche-avancee">RATP public transportation website</a>.</p>
    <p>ENSTA ParisTech is located at the bus stop "<em>Polytechnique-Joncherettes</em>" on bus lines n° 91.06 B, 91.06 C or 91.10, which leave from "<em >Massy-Palaiseau</em>" station fairly frequently.&nbsp;<a target="_blank" href="http://www.ensta-paristech.fr/sites/default/files/fichiers/menu_gauche/plan_lignes_bus.pdf">Bus maps</a>&nbsp;and&nbsp;<a target="_blank" href="http://www.ensta-paristech.fr/sites/default/files/fichiers/menu_gauche/plan_gare_massy.pdf">bus location at "<em>Massy-Palaiseau</em>" station</a>. Find the bus schedule on&nbsp;<a target="_blank" href="http://dev.albatrans.net/les-lignes-les-horaires/les-horaires">Albatrans website</a>.</p>
  </div>
  #}

</div>
{% endblock content %}
