{% extends "base_about.html" %}
{% block html_title %}
<title>{{ _('Access to China Horizon Forum') }}
</title>
<meta name="description" content="{{ _('The Forum will be held in the premises of Mines ParisTech. Here you will find the address, a map and public transport to get here.') }}" />

{% endblock html_title %}
{% block content %}
<div class="section">
  <h1>{{ _('Access to the Forum') }}</h1>

  <p>
    <strong>Télécom ParisTech</strong>
  </p>
  <p>
    <i>46 Rue Barrault, 75013 Paris, France</i>
  </p>

  <div style="width: 600px; height: 640px">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2626.6731310563064!2d2.344230115871643!3d48.82629781091957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671975e9d2e3d%3A0x17f35deee8ffbbf1!2zVMOpbMOpY29tIFBhcmlzVGVjaA!5e0!3m2!1sen!2sfr!4v1517184141767" width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
    </iframe>
  </div>

</div>
{% endblock content %}
