{% extends "base_about.html" %}

{% block html_title %}
<title>
  {{ _('2012 balance') }}
</title>
{% endblock html_title %}

{% block content %}
<div class="section balance">
  <h1>{{ _('China Horizon Forum 2012 balance') }}</h1>

  <p>{{ _('The 5<sup>th</sup> China Horizon Forum was held on April 12, 2012 at Télécom ParisTech.') }}</p>
  <p>{{ _('In terms of attendance, 297 people registered on our official
  website. Among them, many Chinese graduates or experienced workers
  already in search of a first job, or a new job, as well as French and
  Chinese students looking for a short term or long term internship.
  During the Forum, about 180 participants responded to a questionnaire
  on their profile, and the information collected is analyzed and
  presented below. Among those participants, nearly a quarter were not
  registered on our official website. Speaking of the industry, eight
  companies from various sectors were present: Alstom, Arkema, BNP,
  Bureau Veritas, Dragonfly Group, IBM, L'Oréal and Saint-Gobain.') }}</p>

  <p>{{ _('Below are statistics about the participants of 2012 China Horizon Forum') }}:</p>

  <div>
    <img src="/static/forum/bilan-2012/etablissements-en.png" width="483px"
	 height="291px" title="Les différents établissements"
	 alt="School category of visitors" />
  </div>
  <div>
    <img src="/static/forum/bilan-2012/participants-en.png" width="483px"
	 height="291px" title="Origines des étudiants participants"
	 alt="Ratio ParisTech/other schools" />
  </div>
  <div>
    <img src="/static/forum/bilan-2012/eleves-pros-en.png" width="483px"
	 height="291px" title="Répartition professionnel/élève"
	 alt="Ratio students/employees" />
  </div>
  <div>
    <img src="/static/forum/bilan-2012/type-ecole-en.png" width="483px"
	 height="291px" title="Répartition scientifique/commerciale"
	 alt="Ratio engineering/business schools" />
  </div>
  <div>
    <img src="/static/forum/bilan-2012/nationalite-en.png" width="483px"
	 height="291px" title="Nationalité des participants"
	 alt="Nationalities" />
  </div>

</div>
{% endblock content %}
