{% extends "base_about.html" %}

{% block html_title %}
<title>
  {{ _('2013 balance') }}
</title>
<meta name="description" content="{{ _("The 2013 edition of the Forum received 8 companies and 300 subscriptions on the website. Assessment and statistics about participants are presented here (schools, location, area, nationality).") }}" />

{% endblock html_title %}

{% block content %}
<div class="section balance">
  <h1>{{ _('China Horizon Forum 2013 balance') }}</h1>

  <p>{{ _('The 6<sup>th</sup> China Horizon Forum was held on April 18, 2013 at Mines ParisTech.') }}</p>
  <p>{{ _('In terms of attendance, 225 people registered on our official website. Among them, many Chinese graduates or experienced workers already in search of a first job, or a new job, as well as French and Chinese students looking for a short term or long term internship. During the Forum, participants responded to a questionnaire on their profile, and the information collected is analyzed and presented below. Speaking of the industry, seven companies from various sectors were present: Alstom, Arkema, BMW group, Egis International, Dragonfly, Valeo and L\'Oréal.') }}
  </p>

  <p>{{ _('Below are statistics about the participants of 2013 China Horizon Forum:') }}</p>

  <div>
    <img width="650px" src={{ url_for('static',filename='img/balance2013/balance2013_{0}.png'.format(locale)) }}
    alt="statistics" />
  </div>
  {#
  <div>
    <img src={{ url_for('static',filename='img/bilan-2012/etablissements-{0}.png'.format(locale)) }}
         title="Les différents établissements"
	 alt="School category of visitors" />
  </div>
  <div>
    <img src={{ url_for('static', filename="img/bilan-2012/participants-{0}.png".format(locale)) }}
	 title="Origines des étudiants participants"
	 alt="Ratio ParisTech/other schools" />
  </div>
  <div>
    <img src={{ url_for('static', filename="img/bilan-2012/eleves-pros-{0}.png".format(locale)) }}
	 title="Répartition professionnel/élève"
	 alt="Ratio students/employees" />
  </div>
  <div>
    <img src={{ url_for('static', filename="img/bilan-2012/type-ecole-{0}.png".format(locale)) }}
         title="Répartition scientifique/commerciale"
	 alt="Ratio engineering/business schools" />
  </div>
  <div>
    <img src={{ url_for('static', filename="img/bilan-2012/nationalite-{0}.png".format(locale)) }}
	 title="Nationalité des participants"
	 alt="Nationalities" />
  </div>
  #}
</div>
{% endblock content %}
