{% extends "base_about.html" %}

{% from "_formhelpers.html" import render_field as render_field %}

{% block html_title %}
<title>
  {{ _('Contact the team of China Horizon Forum') }}
</title>
<meta name="description" content="{{ _("Wish to contact us? Please complete this form to send us a message. We will reply as soon as possible.") }}"/>

{% endblock html_title %}
{% block content %}
<div class="section contact">
  <h1>{{ _('Team leaders of China Horizon Forum 2014') }}</h1>

  <table>
    <thead>
      <tr>
	<th>{{ _('Name') }}</th>
	<th>{{ _('Title') }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      	<td>{{ _('Mr. Yi ZHANG') }}</td>
      	<td>{{ _('AFCP President') }}</td>
      </tr>
      <tr>
      	<td>{{ _('Ms. Xue BAI') }}</td>
      	<td>{{ _('Forum team member')}}</td>
      </tr>
      <tr>
      	<td>{{ _('Mr. Qizhang ZHU') }}</td>
      	<td>{{ _('Forum team member') }}</td>
      </tr>
      <tr>
      	<td>{{ _('Ms. Yanlin YU') }}</td>
      	<td>{{ _('Forum team member') }}</td>
      </tr>
      <tr>
      	<td>{{ _('Ms. Yihong SU') }}</td>
      	<td>{{ _('Forum team member') }}</td>
      </tr>
    </tbody>
  </table>

  {#
  {% ifnotequal errmsg None %}
  <div class="error">{{ errmsg }}</div>
  {% endifnotequal %}
  {% ifnotequal msgok None %}
  <div class="info">{{ _('The message is sent succussfully.') }}</div>
  {% endifnotequal %}
  #}

  <h2>{{ _('Wish to contact us?') }}</h2>
  <form method="post" action="{{ url_for('contact', usertype=usertype) }}">
      {{ form.hidden_tag() }}
      {{ render_field(form.email) }}
      {{ render_field(form.message) }}
    <input type="submit" value="{{ _('Send') }}"/>
    {#
    <input type="hidden" name="from" value="forum" />
    <div>{{ _('Please enter your email') }}: </div>
    <div><input type="text" name="email" /></div>
    <div>{{ _('Please enter your message') }}:</div>
    <div><textarea name="message" rows="5"></textarea></div>
    <div><input type="submit" value="{{ _('Send the message')}}" /></div>
    #}
  </form>

</div>

{% endblock content %}
