{% extends "base_exhibitors.html" %}

{% block html_title %}
<title>
  {{ _('Your jobs') }}
</title>
{% endblock html_title %}
{% block content %}
<h1 id="">{{ _('All jobs')}}</h1>
<p>
  <a class="button" href="{{ url_for('exhibitor.new_job') }}">New</a>
</p>

<table>
  <thead>
    <tr>
      <th>{{ _('Name') }}</th>
      <th>{{ _('Company') }}</th>
      <th>{{ _('Type') }}</th>
      <th>{{ _('Date') }}</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {% for job in jobs %}
    <tr>
      <th>{{ job.title }}</th>
      <th>{{ job.company }}</th>
      <th>{{ job.type }}</th>
      <th>{{ job.date }}</th>
      <th>
	<a href="{{ url_for('exhibitor.edit_job', job_id=job.key.id()) }}">
	  {{ _('edit') }}
	</a>
      </th>
      <th>
	<a href="{{ url_for('exhibitor.delete_job', job_id=job.key.id()) }}">
	  {{ _('delete') }}
	</a>
      </th>
    </tr>
    {% else %}
    <tr>
      <td colspan="6">{{ _('No job yet') }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
