{% extends "base_exhibitors.html" %}

{% block html_title %}
<title>
  your offres
</title>
{% endblock html_title %}
{% block content %}
<h1 id="">All Offres</h1>
<p>
  <a class="button" href="{{ url_for('exhibitor.new_job') }}">New</a>
</p>

<div class="section job">
  {% for job in jobs %}
  <div class="block-job">
    <div class="apply-button">
      <div class="right">
      </div>
      <h3>
	{{ job.title }}
      </h3>
      <span>
	{{ job.type }}
      </span>
      <a href="{{ url_for('exhibitor.edit_job') }}">
	edit
      </a>
      <a href="{{ url_for('exhibitor.delete_job')}}">
	delete
      </a>
    </div>
    <div>
      {{ job.content|safe }}
    </div>
  </div>
  {% else %}
  <h3>
    no offre yet
  </h3>
  {% endfor %}
</div>
{% endblock content %}
