{% extends "base_exhibitors.html" %}

{% block html_title %}
<title>{{ _('Services of China Horizon Forum') }}</title>
<meta name="description"
      content="China Horizon Forum offers a range of services, including the presentation of your company, the opportunity to recruit young talent and explore the Chinese market." />

{% endblock %}{# html_title #}

{% block content %}

<div class="section services">
  <h1>{{ _('Services') }}</h1>
  <h2>{{ _('Our forum offers the following services') }} :</h2>
  <!-- <div class="fixme">Vérifier avec l'équipe du forum la liste des services proposés</div>
       <div class="modified">Tableau modifié pour que la mise en forme soit en CSS.</div><br /> -->

  <table><!--  border="1" -->
    <tr>
      <th colspan="2">
	{{ _('An opportunity to present your business') }}
      </th>
    </tr>
    <tr>
      <td>{{ _('Advertising your business') }}</td>

      <td>
	{{ _('Via our website, emailing our students, the brochure and the presentation note of the forum') }}
      </td>
    </tr>
    <tr>
      <td>{{ _('Communication on your participation') }}</td>
      <td>{{ _('Through the Chinese Embassy and the Grandes Ecoles of ParisTech') }}</td>
    </tr>
    <tr>

      <td>{{ _('Thematic conferences') }}</td>
      <td>{{ _('To submit your development strategy in China and Asia, on forum day') }}</td>
    </tr>


    <tr>
      <th colspan="2">{{ _('An opportunity to recruit talented young Chinese') }}</th>
    </tr>

    <tr>
      <td>{{ _('Presentation stand') }}</td>
      <td>{{ _('You will meet young Chinese talents looking for work or internship') }}</td>

    </tr>
    <tr>
      <td>{{ _('Database of résumés and candidate profiles') }}</td>
      <td>{{ _('After the forum, we will provide you with a database of CVs of candidates interested in your business, as well as their statistical profiles') }}</td>
    </tr>


    <tr>
      <th colspan="2">{{ _('An opportunity to cooperate with areas of economic and technical operations in China') }}</th>
    </tr>
    <tr>
      <td>{{ _('Round table') }}</td>

      <td>
	{{ _('Along with Chinese companies and representatives from areas of economic and technical operations, you can better understand the conditions for foreign investment in China, and establish a first contact to effectively set up') }}
      </td>
    </tr>
    <tr>
      <td>{{ _('Cocktail') }}</td>
      <td>
	{{ _('A cocktail will be offered at the end of the day, to close the forum. You will be able to continue these discussions in a friendly atmosphere.') }}
      </td>
    </tr>
  </table>
</div>
<!-- end of main contents-->

{% endblock %}{# content #}
