{% extends "base_exhibitors.html" %}

{% block html_title %}
<title>{{ _('Visitor profiles of the China Horizon Forum') }}</title>
<meta name="description" content={{ _("The Forum is open to talented gratuates and students of ParisTech. This prestigious education system and research network is presented here.") }}/>

{% endblock %}{# html_title #}

{% block content %}

<div class="section">
  <h1>{{ _('Visitors') }}</h1>
  <h2>{{ _('Visiting students') }}</h2>
  <p>{{ _('China Horizon Forum is open to young Chinese talents in higher education or working in France. Young French talents motivated by a career related to China are also invited.') }}</p>

  <p>{{ _('We also invite Chinese graduates with some years of experience in France and wishing to develop a project in China.') }}</p>

  <h2>{{ _('Grandes Ecoles of ParisTech') }}</h2>

  <p>{{ _('ParisTech, institute of Science and Technology, is a point of reference in the field of higher education and research. It covers all sciences and engineering technologies. Each member school* is recognized as the best in its field in France.') }}</p>

  <p>{{ _('The number of teachers and the full range of scientific disciplines covered confer to ParisTech stature comparable to that of major scientific and technical universities in the world, for which it may be a partner for excellence.') }}</p>

  <p>* {{ _('Schools founder members of ParisTech') }}:</p>
  <table>

    <tr>
      <td>
	<img src={{ url_for('static', filename='img/logo/enpc.jpg')}} height="80px" />
      </td>
      <td>
	<a href="http://www.enpc.fr">{{ _('École des Ponts ParisTech') }}</a>
      </td>
      <td>
	<img src={{ url_for('static', filename='img/logo/telecomparis.gif') }} width="80px" height="80px" />
      </td>
      <td>
	<a href="http://www.telecom-paristech.fr/">{{ _(' Télécom ParisTech') }}</a>
      </td>
    </tr>

    <tr>
      <td>
	<img src={{ url_for('static', filename='img/logo/ensae.jpg')}} width="80px" />
      </td>
      <td>
	<a href="http://www.ensae.fr">{{ _('ENSAE ParisTech') }}</a>
      </td>
      <td>
	<img src={{ url_for('static', filename="img/logo/ensta.jpg") }} width="70px" height="70px" />
      </td>
      <td>
	<a href="http://www.ensta-paristech.fr/">{{ _('ENSTA ParisTech') }}</a>
      </td>
    </tr>

    <tr>
      <td>
	<img src={{ url_for('static', filename="img/logo/ensam.jpg") }} width="80px" />
      </td>
      <td>
	<a href="http://www.ensam.fr">{{ _('Arts et Métiers ParisTech') }}</a>
      </td>
      <td>
	<img src={{ url_for('static', filename="img/logo/polytechnique.jpg") }} width="80px" />
      </td>
      <td>
	<a href="http://www.polytechnique.fr">{{ _('École Polytechnique') }}</a>
      </td>
    </tr>

    <tr>
      <td>
	<img src={{ url_for('static', filename="img/logo/hec.jpg") }} width="80px" />
      </td>
      <td>
	<a href="http://www.hec.fr/">{{ _('HEC Paris') }}</a>
      </td>
      <td>
	<img src={{ url_for('static', filename="img/logo/optique.jpg") }} width="80px" />
      </td>
      <td>
	<a href="http://www.institutoptique.fr">{{ _("Institut d'Optique Graduate School") }}</a>
      </td>
    </tr>

    <tr>
      <td>
	<img src={{ url_for('static', filename="img/logo/enscp.jpg") }} width="60px" height="74px" />
      </td>
      <td>
	<a href="http://www.enscp.fr">{{ _('Chimie ParisTech') }}</a>
      </td>
      <td>
	<img src={{ url_for('static', filename="img/logo/espci.jpg") }} width="80px" height="59px" />
      </td>
      <td>
	<a href="http://www.espci.fr">{{ _('ESPCI ParisTech') }}</a>
      </td>
    </tr>

    <tr>
      <td>
	<img src={{ url_for('static', filename="img/logo/ensmp.jpg") }} width="82px" height="67px" />
      </td>
      <td>
	<a href="http://www.mines-paristech.fr">{{ _('MINES ParisTech') }}</a>
      </td>
      <td>
	<img src={{ url_for('static', filename="img/logo/agroparistech.jpg") }} width="80px" />
      </td>
      <td>
	<a href="http://www.agroparistech.fr">{{ _('AgroParisTech') }}</a>
      </td>
    </tr>

  </table>

  <h2>{{ _('Chinese students of ParisTech') }}</h2>

  <p>{{ _('In partnership with nine of the most prestigious universities in China, ParisTech has developed several cooperation initiatives, the main one being "50 Chinese engineers in Paris."') }}</p>

  <p>{{ _('Since 2000, ParisTech recruits each year more than 50 Chinese bachelor graduates in Science and Technology, with the highest level, to study engineering for two years. Here is a list of Chinese universities, partners of ParisTech') }}:</p>

  <ul>
    <li>
      {{ _('Beijing : Beijing University, Tsinghua University, China Agricultural University') }}
    </li>
    <li>
      {{ _('Nanjing : Nanjing University, SouthEast University, Nanjing Agricultural University') }}
    </li>
    <li>
      {{ _('Shanghai : Fudan University, Shanghai Jiaotong University, Tongji University') }}
    </li>
    <li>
      {{ _('Hangzhou : Zhejiang University') }}
    </li>
    <li>
      {{ _('Wuhan : Wuhan University, Huazhong University of Science and Technology') }}
    </li>
  </ul>

  <p>{{ _('To date, more than one thousand Chinese students, nearly half of whom are engineering students, have benefited from various training within ParisTech awarded with diplomas of Engineering, Master, Specialized Master and Doctorate. The majority of Chinese graduates from the "50 engineers" program were hired in large French or European	companies, or have pursued doctoral studies.') }}</p>

</div>
<!-- end of main contents-->

{% endblock %}{# content #}
