{% extends "base_visitors.html" %}

{% block html_title %}
<title>Registration to China Horizon Forum</title>
{% endblock %}{# html_title #}

{% block content %}

<!-- <iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dFpVemdMU0NpU0dUVWhWMEplNXFlclE6MQ" width="670" height="1420" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe> -->
<iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dEdleHRfUmF5UllHX3V0U2NDOV9VRkE6MQ" width="670" height="1873" frameborder="0" marginheight="0" marginwidth="0">Chargement en cours...</iframe>
{% endblock %}{# content #}
