{% from "_formhelpers.html" import render_field as render_field %}
{{ form.hidden_tag() }}
{{ render_field(form.enterprise) }}
{{ render_field(form.is_online) }}
{{ render_field(form.apply_url, groupid="url") }}
{{ render_field(form.enterprise_email, groupid="email") }}
{{ render_field(form.type) }}
<div class="section job">
  <div class="block-job">
    <div id="en" class="apply-button {% if form.title_en.errors or form.content_en.errors %}field-error{% endif %}">
      <div>English version</div>
    </div>
    <div>
      {{ render_field(form.publish_en) }}
      {{ render_field(form.title_en) }}
      {{ render_field(form.content_en, class="job_content") }}
    </div>
  </div>
  <div class="block-job">
    <div id="fr" class="apply-button {% if form.title_fr.errors or form.content_fr.errors %}field-error{% endif %}">
      <div>French version</div>
    </div>
    <div>
      {{ render_field(form.publish_fr) }}
      {{ render_field(form.title_fr) }}
      {{ render_field(form.content_fr, class="job_content") }}
    </div>
  </div>
  <div class="block-job">
    <div id="zh" class="apply-button {% if form.title_en.errors or form.content_en.errors %}field-error{% endif %}">
      <div>Chinese version</div>
    </div>
    <div>
      {{ render_field(form.publish_zh) }}
      {{ render_field(form.title_zh) }}
      {{ render_field(form.content_zh, class="job_content") }}
    </div>
  </div>
</div>
{{ render_field(form.default_lang) }}
{{ render_field(form.cv_required) }}

<script type="text/javascript">
 $('#is_online').change(function(){
   if(this.checked){
     document.getElementById('url').style.display = 'block';
     document.getElementById('email').style.display = 'none';
   }
   else{
     document.getElementById('url').style.display = 'none';
     document.getElementById('email').style.display = 'block';
   }
 });
 var emails = {{ grouped_emails|safe }};
 $('#enterprise').change(function(){
   var e = $('#enterprise_email');
   e.empty();
   var options = emails[this.value];
   $.each(options, function(key, value) {
     e.append($("<option></option>")
      .attr("value", key).text(value));
   });
 });
</script>
