{% from "_formhelpers.html" import render_field as render_field %}
{{ form.hidden_tag() }}
{{ render_field(form.enterprise) }}
{{ render_field(form.is_online) }}
{{ render_field(form.apply_url, groupid="url") }}
{{ render_field(form.enterprise_email, groupid="email") }}
{{ render_field(form.type) }}
<div class="section job">
  <h4>
    {{ _('For the following 3 sections, please check the "publish" checkbox to make it visible to users') }}
  </h4>
  <h4>
    {{ _("If you have only one language version of job, just choose the right section of language and set the right default language. This version will also be shown to clients when other language versions are empty. So you don't need to edit and copy 3 versions") }}
  </h4>
  <div class="block-job">
    <div id="en" class="apply-button {% if form.title_en.errors or form.content_en.errors %}field-error{% endif %}">
      <div>English version</div>
    </div>
    <div>
      {{ render_field(form.publish_en) }}
      {{ render_field(form.title_en) }}
      {{ render_field(form.content_en, class="text_content") }}
    </div>
  </div>
  <div class="block-job">
    <div id="fr" class="apply-button {% if form.title_fr.errors or form.content_fr.errors %}field-error{% endif %}">
      <div>French version</div>
    </div>
    <div>
      {{ render_field(form.publish_fr) }}
      {{ render_field(form.title_fr) }}
      {{ render_field(form.content_fr, class="text_content") }}
    </div>
  </div>
  <div class="block-job">
    <div id="zh" class="apply-button {% if form.title_en.errors or form.content_en.errors %}field-error{% endif %}">
      <div>Chinese version</div>
    </div>
    <div>
      {{ render_field(form.publish_zh) }}
      {{ render_field(form.title_zh) }}
      {{ render_field(form.content_zh, class="text_content") }}
    </div>
  </div>
</div>
<h4>
  Default language will also effect the language of application email.
</h4>
<p>
  if the job only have one language version, it will use this language to send email. If the job have multiple language versions, the version that users are browsing or the default one will be used. For example, one job has French and English versions and English is the default version. If users use French version, french email will be sent. If users use Chinese version, then English email will be sent since there is no Chinese version and English is the default.
</p>
{{ render_field(form.default_lang) }}
{{ render_field(form.cv_required, **{"data-placeholder" : "Keep it empty if no requirement"}) }}

<link rel="stylesheet" href="{{ url_for('static', filename='css/lib/chosen.min.css') }}" />
<script type="text/javascript" src={{ url_for('static', filename="js/lib/chosen.jquery.min.js") }}>
</script>
<script type="text/javascript">
 $('#is_online').change(function(){
   if(this.checked){
     document.getElementById('url').style.display = 'block';
     document.getElementById('email').style.display = 'none';
   }
   else{
     document.getElementById('url').style.display = 'none';
     document.getElementById('email').style.display = 'block';
   }
 });
 var emails = {{ grouped_emails|safe }};
 $('#enterprise').change(function(){
   var e = $('#enterprise_email');
   e.empty();
   var options = emails[this.value];
   $.each(options, function(key, value) {
     e.append($("<option></option>")
      .attr("value", value.url).text(value.email));
   });
 });

 $("#default_lang").chosen({width: "60%"});
 $("#cv_required").chosen({width: "60%"});

 $(document).ready(function(){
//   var e = $('#enterprise_email');
//   e.empty();
//   var options = emails[$('#enterprise').value];
//   $.each(options, function(key, value) {
//     e.append($("<option></option>")
//      .attr("value", key).text(value));
//   });
   if($('#is_online').checked){
     document.getElementById('url').style.display = 'block';
     document.getElementById('email').style.display = 'none';
   }
   else{
     document.getElementById('url').style.display = 'none';
     document.getElementById('email').style.display = 'block';
   }
  });
</script>
