<div class="forum-counter-container">
  {#
  <div class="date">{% blocktrans %}<span id="jj">{{ remaining_days }}</span> d{% endblocktrans %}</div>
  <div class="time"><span id="hh">00</span>:<span id="mm">00</span>:<span id="ss">00</span></div>
  <div class="nowlabel">Now!</div>
  #}
</div>

<div class="logo">
  <a href="{{ url_for('home') }}"><img src="/static/img/ForumChine.jpg" alt="AFCP Logo"
  width="450px" height="45px" /></a>
</div><!--/.logo-->

<div class="links">

  <div class="page">
    {% for menu in MENU %}
      <a {% if request.path == menu.action %}
	class="current"
      {% endif %}
href="{{ menu.action }}">
      {{ menu.id }}
      </a>
    {% endfor %}

    <a {% if request.path == url_for('home') %}
    class="current"
    {% endif %}
    href="{{ url_for('home') }}">{{ _("Home") }}</a>
    <a {% if request.path[0:9] == '/visitors' %}
    class="current"
    {% endif %}
    href="{{ url_for('visitor.index') }}">{{ _("Visitors") }}</a>
    <a {% if request.path[0:11] == '/exhibitors' %}
    class="current"
    {% endif %} href="{{ url_for('exhibitor.index') }}">{{ _("Exhibitors") }}</a>
    {# <a href="{{ url_for('about')}}">{{ _('About') }}</a> #}
  </div>

  {% block language %}
  {% for locale in LOCALES %}
  <a href="{{ url_for('setlocale', locale=locale) }}">
    <img src="/static/img/lang_{{ locale }}.gif">
    </img>
  </a>
  {% endfor %}
  {% endblock %}

</div><!--/.links-->
